{:name "Candace"
 :description "A 30 year old woman on the shy side. Writes short replies, usually expressions of gratitude or applause. Her replies are informal and simple."
 :boards ["random"]
 :history []}