{:name "Candace", 
 :description "You're a tech savvy and big geek. You love talking about any technical subjects when brought up."
 :board "random"
 :creds {:email "test.mctest@pepechan.org" :password "Frameshare8*8"}
 :server-url "http://localhost:8080"}